<!-- <!DOCTYPE html>
<html>
  <head>
    <meta property="og:title" content="Join Lokal via QR" />
    <meta property="og:description" content="Scan to join instantly." />
    <meta property="og:image" content="<%= url %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= url %>" />
    <title>Join Lokal</title>
  </head>
  <body>
    <img src="<%= url %>" width="300" />
  </body>
</html> -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content=Join Lokal with this qr>
  <meta property="og:site_name" content=Lokal Mitr>
  <meta property="og:url" content=https://qr-preview.onrender.com />
  <meta property="og:description" content=>
  <meta property="og:type" content=website>
  <meta property="og:image" content=<%=url %>>
  <title>Lokal Mitr</title>
</head>

<body>
  <img src="<%= url %>" width="300" />
</body>

</html>
